<div>
  <div class="colors">

    <%= link_to "Новый цвет", new_color_path, remote: true %>
    <div class="dd" id="nestable">
      <ol class="dd-list regionsList">
        <% @colors.each do |c| %>
          <li class="dd-item" data-id="<%= c.id %>">
            <div class="dd-handle dd3-handle">Drag</div>
            <div class="dd3-content">
              <div class="percent-90"><%= link_to c.name, color_path(c), remote: true %> / <%= c.name_eng %></div>
              <div class="percent-5"><% if c.logo.exists? %>L<% end %></div>
              <div class="percent-5"><a data-confirm="Вы действительно хотите удалить цвет?" data-method="delete" data-remote="true" href="/colors/<%= c.id %>" rel="nofollow">[X]</a></div>
            </div>
          </li>
        <% end %>
      </ol>
    </div>
  </div>

  <script>
    $('#nestable').nestable({
      group: 1,
      maxDepth: 1
    })
      .on('change', updateSortingColor);
  </script>

  <div class="color_details">
  </div>

</div>