
  <%
     filter = (controller_name == "main") ? session[:filterMain] : session[:filter]
  %>
  <ul class="search__switcher clearfix">
    <li><a class="search__switcher1<% if filter.nil? or filter["hard_liquor"].nil? or filter["hard_liquor"] == false %> is-active<% end %>">Вино</a></li>
    <li><a class="search__switcher2<% if (!filter.nil? and filter["hard_liquor"] == true) %> is-active<% end %>">Крепкий алкоголь</a></li>
  </ul>

  <script>
    $('.search__switcher1').click( function() {
      var request = $.ajax({
        url: "/filter/false/hard_liquor",
        type: "get",
        dataType: "script"
      });
    })
    $('.search__switcher2').click( function() {
      var request = $.ajax({
        url: "/filter/true/hard_liquor",
        type: "get",
        dataType: "script"
      });
    })
  </script>

  <% getFilter %>


  <div class="search__filters clearfix">
    <div class="search__filters__wrapper clearfix">
      <div class="search__filters__wrapped">
        <!-- begin filter -->
        <div class="search__filter search__filter1">
          <h3 class="search__title">Страна</h3>

          <ul class="search__options">
            <% @country.each do |c| %>
              <li><a class="is-checkbox<% if @filterCountry[c.id.to_s] %> is-active<% end %>" href="/filter/<%= c.id %>/country" data-remote="true"><span><%= c.name %></span></a></li>
            <% end %>
          </ul>
          <!--<script>$('.country_marker').click(function() {send_filter($(this).attr('id'), 'country')} )</script>-->
          <% unless !session[:filter].nil? and !session[:filter]["open_list"].nil? and session[:filter]["open_list"]["country"] %>
            <a class="search__showall" data-remote="true" href='/filter/search__filter1/index'>показать все</a>
          <% end %>
        </div>
        <!-- end filter -->

        <!-- begin filter -->
        <div class="search__filter search__filter2">
          <h3 class="search__title">Регион</h3>

          <ul class="search__options">
            <% @region.each do |r| %>
              <li><a class="is-checkbox<% if @filterRegion[r.id.to_s] %> is-active<% end %>" href="/filter/<%= r.id %>/region" data-remote="true"><span><%= r.name %></span></a></li>
            <% end %>
          </ul>
          <!--<script>$('.region_marker').click(function() {send_filter($(this).attr('id'), 'region')} )</script>-->
          <% unless !session[:filter].nil? and !session[:filter]["open_list"].nil? and session[:filter]["open_list"]["region"] %>
            <a class="search__showall" data-remote="true" href='/filter/search__filter2/index'>показать все</a>
          <% end %>
        </div>
        <!-- end filter -->

        <!-- begin filter -->
        <div class="search__filter search__filter3">
          <h3 class="search__title">Категория</h3>

          <div class="catslider">
            <div class="catslider__in">
              <div class="search__categ catslider__slides cycle-slideshow"
                   data-cycle-paused=true
                   data-cycle-fx="carousel"
                   data-cycle-slides=">div"
                   data-cycle-prev=".catslider__prev"
                   data-cycle-next=".catslider__next">
                <% @searchCategory.each do |c| %>
                  <div>
                    <div class="cat_item">
                      <a class="is-checkbox<% if @filterSearchCategory[c.id.to_s] %> is-active<% end %>" href="/filter/<%= c.id %>/search_category" data-remote="true">
                        <i class="search__categicon1" style="background: url('<%= c.logo.url %>');"></i>
                        <span><%= c.name %></span>
                      </a>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="catslider__next"></div>
            <div class="catslider__prev"></div>
          </div>
        </div>
        <!-- end filter -->

        <!-- begin filter -->
        <div class="search__filter search__filter4">
          <h3 class="search__title">Производитель</h3>

          <ul class="search__options">
            <% @manufacturer.each do |m| %>
              <li><a class="is-checkbox<% if @filterManufacturer[m.id.to_s] %> is-active<% end %>" href="/filter/<%= m.id %>/manufacturer" data-remote="true"><span><%= m.name %></span></a></li>
            <% end %>
          </ul>
          <!--<script>$('.manufacturer_marker').click(function() {send_filter($(this).attr('id'), 'manufacturer')} )</script>-->

          <% unless !session[:filter].nil? and !session[:filter]["open_list"].nil? and session[:filter]["open_list"]["manufacturer"] %>
            <a class="search__showall" data-remote="true" href='/filter/search__filter4/index'>показать все</a>
          <% end %>
        </div>
        <!-- end filter -->

        <!-- begin filter -->
        <div class="search__filter is-last search__filter5">
          <h3 class="search__title">Цена</h3>

          <ul class="search__options">
            <% unless !(session[:filter].nil? or session[:filter]["open_list"].nil?) and session[:filter]["open_list"]["price"] %>
              <% if @filterPriceAccess.nil? or @filterPriceAccess[1] %><li><a class="is-checkbox<% if @filterPrice.nil? or @filterPrice["1"] %> is-active<% end %>" href="/filter/1/price" data-remote="true"><span>0 - 550</span></a></li><% end %>
              <% if @filterPriceAccess.nil? or @filterPriceAccess[2] %><li><a class="is-checkbox<% if @filterPrice.nil? or @filterPrice["2"] %> is-active<% end %>" href="/filter/2/price" data-remote="true"><span>550 - 1000</span></a></li><% end %>
            <% else %>
              <% if @filterPriceAccess[1] %><li><a class="is-checkbox<% if @filterPrice["1"] %> is-active<% end %>" href="/filter/1/price" data-remote="true"><span>0 - 550</span></a></li><% end %>
              <% if @filterPriceAccess[2] %><li><a class="is-checkbox<% if @filterPrice["2"] %> is-active<% end %>" href="/filter/2/price" data-remote="true"><span>550 - 1000</span></a></li><% end %>
              <% if @filterPriceAccess[3] %><li><a class="is-checkbox<% if @filterPrice["3"] %> is-active<% end %>" href="/filter/3/price" data-remote="true"><span>1000 - 2000</span></a></li><% end %>
              <% if @filterPriceAccess[4] %><li><a class="is-checkbox<% if @filterPrice["4"] %> is-active<% end %>" href="/filter/4/price" data-remote="true"><span>2000 - 3000</span></a></li><% end %>
              <% if @filterPriceAccess[5] %><li><a class="is-checkbox<% if @filterPrice["5"] %> is-active<% end %>" href="/filter/5/price" data-remote="true"><span>Свыше 3000</span></a></li><% end %>
            <% end %>
          </ul>
          <!--<script>$('.price_marker').click(function() {send_filter($(this).attr('id'), 'price')} )</script>-->
          <% unless !(session[:filter].nil? or session[:filter]["open_list"].nil?) and session[:filter]["open_list"]["price"] %>
            <a class="search__showall" data-remote="true" href='/filter/search__filter5/index'>показать все</a>
          <% end %>
        </div>
        <!-- end filter -->
      </div>
    </div>
    <div class="search__message">Перемотайте вправо чтобы открыть остальные фильтры</div>
    <div class="search__reset"><a href="/filter_destroy/all/all" data-remote="true">Сбросить параметры</a></div>
    <div class="search__pdf" hidden><a href="#"><i></i><span>Распечатать PDF</span></a></div>
  </div>

  <script>
    checkClickFilter();
  </script>